#add-participant-form{
    margin-left: 55px;
}

#add-participant-form > div > input{
    margin-top: 10px;
}

#add-participant-form > div:nth-child(5) , #add-participant-form> div:nth-child(6){
   display: none;
}

#add-participation-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f8EEE7;
}

#add-participant-form{
    background-color: #49274a;
    color: white;
    padding: 35px;
}

#add-participant-form > div > select  {
    color: black;
}