#add-participant-form{
    color: black;
    padding: 35px;
    border: none;
    margin: 0 auto;
    width: 75%;
}

#age-rules{
    padding-top: 45px;
    font-family: "WeblySleek UI",'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 28px;

    text-align: center;
    width: 95%;
}
#add-participant-form > div > input{
    margin-top: 10px;
}

#add-participant-form > div:nth-child(12) , #add-participant-form> div:nth-child(11){
   display: none;
}

#add-participation-container{

    background-color: #f2f2f2;
}



#add-participant-form > div > select  {
    color: black;
}

#welcome-container{
    background-color: #f8eee7;
    border-bottom: 4px solid #49274a;
}

#ParticipantsTable{
    font-family: "WeblySleek UI",'lucida grande',tahoma,verdana,arial,sans-serif !important;
    margin-bottom: 0px;
    margin-top: 15px;

}


#ParticipantsTable > thead > tr > th{
    background-color: #49274A; 
}


#ParticipantsTable > tbody > tr > td > form > input[type='button'] , #ParticipantsTable > tbody > tr > td > form > input[type='submit'] {
    width: auto;
}

@media screen and (min-width: 0px) and (max-width: 562px){
    #add-participant-form {
        width: 100%;
    }

    #age-rules{
        font-size: 23.5px;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        width: 85%;
    }


}