@{
    ViewBag.Title = "Home | Above All Beauty Pageant";
}

<div class="jumbotron" id="home-jumbotron">
    <h1>
        Welcome to Above All Beauty Pageant's Website
    </h1>

    <h4>
        Find out about general information, contact information, and upcoming events!
    </h4>
</div>

<div class="container">
    <div class="row" id="fb-like">
        <div class="col-xs-12">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fabovealbabypageant%2F&width=300&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="300" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
    </div>
</div>


<div id="home-flex-box">

    <div id="home-slideshow-flex-item">
        <div id="home-slide-show" class="carousel slide carousel-fade" data-ride="carousel">
            @Html.Partial("~/Views/Shared/_HomeSlideShow.cshtml")
        </div>
    </div>

    <div id="home-flex-item">
        @Html.Partial("~/Views/Shared/_Testimonals.cshtml")
    </div>

</div>


<div id="upcoming">
    <img id="spooky-img" src="~/Images/Website Imgs/Bat-Moon.png" />
    <h1 align="center" class="upcoming-header">Join our <span class="highlight-orange">Halloween Spooktacular Pageant</span></h1>
    <h3 align="center" class="upcoming-location-header">at the McAllen Convention Center on October 29, 2016</h3>
    <hr />
    <p align="center" class="upcoming-information-headers">Age Categories</p>

    <div id="age-categories">
        <div id="girls">
            <h3>Girls</h3>
            <p>Baby Miss: 01-11 months</p>
            <p>Pee Wee Miss: 12-23 months</p>
            <p>Tiny Miss: 2-3 years</p>
            <p>Little Miss: 4-5 years</p>
            <p>Petite Miss: 6-8 years</p>
            <p>Youth Miss: 9-12 years</p>
            <p>Teen Miss: 13-15 years</p>
        </div>

        <div id="Boys">
            <h3>Boys</h3>
            <p>Baby Mr: 01-11 months</p>
            <p>Pee Wee Mr: 12-23 months</p>
            <p>Tiny Mr: 2-3 years</p>
            <p>Little Mr: 4-5 years</p>
        </div>
    </div>

    <div id="pricing">
        <p align="center" class="upcoming-information-headers">Entry Fee</p>
        <h4 id="halloween-beauty-pageant">Halloween/Beauty Pageant: $90</h4>
        <div id="competition-list">
            <ul>
                <li>Best Attire/Costume</li>
                <li>Best Smile</li>
                <li>Best Personality</li>
                <li>Prettiest/Best Eyes</li>
                <li>Model look</li>
                <li>Photogenic</li>
            </ul>
        </div>
        <p id="extra-photo-p" class="pricing-p">Extra Photo x $5.00 each</p>
        <h4 align="center" class="pricing-p">All contestants must sell at least 10 raffle tickets to qualify for the Royal Division.</h4>
    </div>

</div>



<div id="about-us">
    <div id="headquarters">
        <div id="about-above-all">
            <span id="above-all-highlighting">Above All Baby Pageant</span> was established in April 2016 with the purpose of empowering young children to achieve the personal growth and self-confidence.
            <br />
            <div>
                We commend the parents for the support that they are giving their children. Your love, patience, and encouragement will be cherished by your child for a lifetime. Everyone has the potential to be a shining star!
            </div>
            <br /><br />
            <div align="center">Coordinator who makes our events special - Lilly Pedraza</div>
            <br />
            <div id="coordinators">

                <div>
                    <img alt="Above All Beauty Pageant Coordinator - Lilly Ramirez Pedraza" src="~/Images/coordinators/aa-lilly.PNG" title="Lilly Ramirez Pedraza" />
                    <p class="coordinators-desc" align="center">Lilly Pedraza</p>
                </div>

            </div>
            <br />
            <div>Above All Baby Pageant provides a professional photographer to capture all your child’s precious moments. Please stop by to take some beautiful pictures of your child.</div>
            <br />
            <div>All of us at Above All Baby Pageant would like thank the parents for all the hard work they put into the competition. Also we appreciate all the sponsors who support the children, and finally this would not be possible without the wonderful children participating. Our sincerest thanks for letting us be part of your child’s precious memories.</div>
        </div>
        <hr style="border-color: #94618e" />
        <div id="above-all-location-info" align="center">
            <p>Above All Contact and Location Info</p>

            <p>
                5205 S. Veterans Blvd
                <br /><br />
                Edinburg, TX 78542
                <br /><br />
                (956) 223-8844
            </p>
        </div>
        <div id="mapUpcoming" style=""></div>
    </div>
</div>


<div id="sponsored-by">
    <div align="center">Check Out Our Great Sponsors</div>
    <div id="sponsor-logos">
        <a href="http://www.eleganceshutters.com/"><img alt="Elegance Shutters and Blinds logo" src="~/Images/sponsors/elegance-shutters.jpg" title="Elegance Shutters and Blinds" /></a>
        <a href="https://www.facebook.com/txstarwindow.door/photos"><img alt="Texas Star Window and Repair, LLC Logo" src="~/Images/sponsors/texas-star-logo.jpg" title="Texas Star Window & Door Replacement, LLC" /></a>
    </div>
</div>



