<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>aboveallbeautypageant.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dallaswin200.arvixeshared.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>aboveallbeautypageant.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>aboveall_eantnet_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AboveAllContext" Order="4" Enabled="True">
          <Destination Path="Data Source=dallaswin200.arvixeshared.com;Initial Catalog=aboveall;User ID=aboveall;Password=Steph233_" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dallaswin200.arvixeshared.com;Initial Catalog=aboveall;Integrated Security=False;User ID=aboveall;Password=Steph233_" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AboveAllContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dallaswin200.arvixeshared.com;Initial Catalog=aboveall; Integrated Security=false; User ID=aboveall;password=Steph233_" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=dallaswin200.arvixeshared.com;Initial Catalog=aboveall;Persist Security Info=True;User ID=aboveall;Password=Steph233_" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AboveAllContext, Above All Beauty Pageant" MigrationConfiguration="Above_All_Beauty_Pageant.Migrations.Configuration, Above All Beauty Pageant" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AboveAllContext-Web.config Connection String">
      <ParameterValue>Data Source=dallaswin200.arvixeshared.com;Initial Catalog=aboveall;User ID=aboveall;Password=Steph233_</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dallaswin200.arvixeshared.com;Initial Catalog=aboveall;Persist Security Info=True;User ID=aboveall;Password=Steph233_</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>