@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="account-body">
    <hgroup class="title">
        <h1 class="log-in">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p id="cancel-bottom-margin">
            Please check your email to reset your password.
        </p>
    </div>
</div>
	
