@{
    ViewBag.Title = "Reset password confirmation";
}
<div id="account-body">
    
    <hgroup class="title">
        <h1 class="log-in">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p id="cancel-bottom-margin">
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>