<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#home-slide-show" data-slide-to="0" class="active"></li>
    <li data-target="#home-slide-show" data-slide-to="1"></li>
    <li data-target="#home-slide-show" data-slide-to="2" ></li>
    <li data-target="#home-slide-show" data-slide-to="3"></li>
    <li data-target="#home-slide-show" data-slide-to="4" ></li>
    <li data-target="#home-slide-show" data-slide-to="5"></li>
    <li data-target="#home-slide-show" data-slide-to="6" ></li>
    <li data-target="#home-slide-show" data-slide-to="7"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner home-slide-show-wrapper" role="listbox">

    <div class="item active home-item" >
        <img alt="Above All Beauty Pageant at fourth of july parade" title="Above All at Fourth of July Parade" src="~/Images/HomeSlideShow/Parade/fourth-of-july-parade.jpg" />
    </div>

    <div class="item home-item">
        <img alt="Mother walking the aile with her daughter at the Above All Baby Pageant" src="~/Images/HomeSlideShow/Event/beauty-pageant-contestant-1.JPG" />
    </div>

    <div class="item home-item">
        <img alt="A cute baby pageant contestant smiling for the cameras" title="Cute baby pageant contestant smiling for the cameras" src="~/Images/HomeSlideShow/Event/beauty-pageant-contestant-2.JPG" />
    </div>

    <div class="item home-item">
        <img alt="A cute baby pageant contestant smiling for the cameras after receiving a trophy" src="~/Images/HomeSlideShow/Event/beauty-pageant-contestant-3.JPG" />
    </div>

    <div class="item home-item">
        <img alt="Beautiful curly haired girl taking a pic with her newly earned medal and trophy" src="~/Images/HomeSlideShow/Event/beauty-pageant-contestant-4.JPG" />
    </div>

    <div class="item home-item">
        <img alt="Grandma and grand daughter taking a pic with their trophy after Above All Baby Pageant competition" src="~/Images/HomeSlideShow/Event/beauty-pageant-contestant-5.JPG" />
    </div>

    <div class="item home-item">
        <img alt="Royal Division Above All Baby Pageant winner taking a pic with her newly earned electric Disney Frozen cart" title="Above All Baby Pageant Royal Division Winner" src="~/Images/HomeSlideShow/Event/royal-division-winner.JPG" />
    </div>

    <div class="item home-item">
        <img alt="Above All Baby Pageant winner taking a pic with her newly earned tri-cycle" src="~/Images/HomeSlideShow/Event/baby-pageant-winner.JPG" />
    </div>

</div>

<!-- Controls -->
<a class="left carousel-control" href="#home-slide-show" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#home-slide-show" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>






