<h1>Testimonals</h1>
<div class="testimonials">
    <p>
        "Of the many activities Lorelai participates in, Pageants is not one of them. When we first discussed participating, she was reluctant and not really willing to try this. I keep telling her it would be fun and a learning experience. She finally said ok and does not regret it. She had such a good time and is looking forward to participating in another soon. Thank you Above All Baby Pageants for this wonderful experience."
        <span class="quoter">-Liza E. Gonzalez</span>
    </p>

</div>
<div class="testimonials">
    <p>
        "Our first time participating in a baby pageant. Loved it! The process was simple and the pageant went smoothly. My baby boy won several awards! Can't wait for the next pageant."
        <span class="quoter ">-Amanda Esqueda Garza</span>
    </p>

</div>
<div class="testimonials">
    <p>
        "This was my daughters first baby pageant, and it was amazing!! She won lots of awards, and everything went smoothly."
        <span class="quoter">-Jennifer Trejo</span>
    </p>

</div>