@model Above_All_Beauty_Pageant.ViewModels.TransactionViewModel

@{
    ViewBag.Title = "Transaction";
   
}

@if (Model.PaymentMade == true)
{
    // thank you and show reciept
    <div><p>Thank you for registering! We look forward to seeing you at the Above All Beauty Pageant!</p></div>
    <table class="table table-striped table-hover table-responsive table-condensed">
        <thead>
            <tr>
                <th>Receipt#</th>
                <th>Total Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Receipt.Id</td>
                <td>$@Model.Receipt.Amount</td>
            </tr>
        </tbody>
    </table>
}
 else{

    // error credit card declined
    <div>
        <p>
            Sorry, your credit card has been declined.  If by any chance you were charged please disregard this message and contact Lilia Pedraza at 956-223-8844.  We at Above All will make sure to accommodate all your needs.
        </p>
    </div>

}